body{
    padding: 50px;
}
header{
    position: fixed;
    top: 0;
    transform: 0.5s;
    z-index: 1000;
    width: 100%;
    height: 100px;
    background: #a5a5a5;
}
.logo{
    width: 100px;
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

button{
    margin: 5px;
}

.popup{
    display: none;
    justify-content: center;
    background: #969696;
}

#close{
    background: #000000;
    width: 10px;
    height: 10px;
}

.popup-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.popup-content input{
    margin: 5px;
}